


body {
    font-size: 16px;
    padding-top: 76px;
    color: #fff;
    background-color:black;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-text-size-adjust: 100%;
    background:  linear-gradient(to bottom,black,rgb(5, 5, 17));
    min-height: 100vh; 
}
  
/* NAVBAR CUSTOM */

.navbar-custom{
  background-color: #000000;
  border-radius: 0;
  border: 0;
  color: white;
}

  
.navbar-brand{
  font-size: 25px;
  color: white;
  height: 60px;
  width: 150px;
  background-image: url('../images/logo.png');
  background-size: 100%;
  background-position: center;
  border: #fff;
}

.navbar-brand:hover{
  color: rgba(255, 255, 255, 0.623);
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
} 

.nav-item a{
  color: white;
  text-decoration: none;
}

.second-nav{
  margin-left: auto;
  
}



.navbar-nav a {
  color: white;
  text-align: center;
}
.navbar-nav a:hover {
  background: #E7E7E7;
  color: #000000;
}
.navbar-nav a span {
  font-size: 1.8em;
}
/* END NAVBAR CUSTOM */



hr {
  margin-top: 0; /* Space out the Bootstrap <hr> more */
}



/*  */
/* CONTACT PAGE */
/*  */



.main{
  height: 100%;
  vertical-align: middle;
}

.inner{
  margin-top: 25vh;
  
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {
  

  





}

@media(min-width: 768px) and (max-width:991px){
  
}

@media (min-width: 992px) {
}





